# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# AI / Machine Learning Models
*.safetensors
*.bin
*.pt
*.pth

# Hugging Face
.cache/

# Training Checkpoints
checkpoint-*/